html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Istok Web', sans-serif;
    font-size: 1em;
    line-height: 180%;
    width: 100%;
    padding: 2% 7% 2% 7%;
    background-color: #F2F3F4;
}

a:link, a:hover, a:focus, a:active, a:visited {
    cursor: pointer;
}

a:visited {
    color: #34495E;
}

a:hover, a:focus {
    font-weight: bold;
}

a:active {
    color: #F5B041;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #D7DBDD;
}

.name-logo a:link, 
.name-logo a:hover,
.name-logo a:focus,
.name-logo a:active,
.name-logo a:visited {
    text-decoration: none;
    color: #000000;
    font-size: 1.75em;
    font-weight: normal;
    font-family: 'EB Garamond', serif;
}

.name-logo .last-name {
    color: #757575;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-item {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    list-style: none; 
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bio {
    background-color: #52BE80;
}

.projects {
    background-color: #7D3C98; 
}

.contact {
    background-color: #F5B041;
}
.active-nav {
    border: 5px solid #2980B9;
}

.nav-item a:link, .nav-item a:visited {
    color: #ffffff;
    text-decoration: none;
} 

.nav-item a:hover, 
.nav-item a:focus, 
.nav-item a:active {
    text-decoration: underline; 
}

.headline {
    font-family: 'EB Garamond', serif;
    font-size: 1.45em;
    margin: 20px 0 5px 0;
}

.project-headline {
    align-self: flex-start;
}

.subhead {
    font-size: 1.2em;
    margin: 15px 0 2px 0;
    font-family: 'EB Garamond', serif;
}

.project-examples > p {
    margin: 0 0 18px 0;
    align-self: flex-start;
}

.intro-copy p {
    margin: 0 0 18px 0;
}

.portfolio-preview, .project-examples {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.project {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #D7DBDD;
    padding: 5px;
}

.project-name, .project-info {
    margin: 5px 5px;
    line-height: 135%;
}
.project-tech {
    padding-left: 25px;
    margin: 5px 0;
}

.project-name {
    font-weight: bold;
}

.project-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 135%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
}

.project-links > li {
    padding: 0 10px;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: 20px auto;
}

.contact-item {
    width: 60px;
    height: auto;
}

footer {
    border-top: 1px solid #D7DBDD;
}
.footer-copy {
    text-align: center;
    font-size: .8em;
}

/* Responsive layouts */
@media screen and (min-width: 650px) {
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
    }

    .intro-copy, .headline {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-examples {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(50px, auto);
        align-items: start;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;  
    }

    .project-headline-large {
        margin: 20px 0 5px 0;
    }

    .project-intro {
        grid-column: 1 / 3
    }
}

@media screen and (min-width: 875px) {
    .large-screen-layout {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 100%; 
    }

    .portfolio-preview {
        width: 100%;
        max-width: 100%;
    }

    .project-preview {
        margin: 10px;
        width: 33.3%;  
    }

    .subhead-preview {
        margin-left: 10px;
    }
}

